body {
    font-weight: normal;
    background-color: #D6E6FF;
}

main {
    padding-right: 50px;
    padding-left: 50px;
}

footer {
    height:30px;

}

p{
    font-weight: normal;

}

.carousel-item {
    padding-top: 25px;
    padding-bottom: 50px;
    height: auto;
    width: auto;
}

li a {

    color: #5390d9;
    text-decoration: none;
    font-size: 20px;
    font-family:"TheSans Swisscom";
}

ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #D6E6FF;
    font-weight: bold;

}

#banner {
    margin: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 200px;
    background-color: #ECEFFD;
}

.marketing .col-lg-4 {
    text-align: center;
}

.row{
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 80px;


}

.form-inline{
    color: #007bff;
    border-color:#007bff;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #007bff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    position: absolute; right: 25px;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

a:not([href]):not([tabindex]){
    color:#5390d9;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color:#0056b3;
}

.picture {
    border-radius: 50%;
    margin: 15px;
    box-shadow: 8px 8px 10px #aaa;
    max-width: 100%;
    height: auto;
}

.list-inline {
    padding-left: 85px;

}

.mb-3 {
    height: 100px;
    width: auto;
}
