body {
    font-weight: normal;
    background-color: #f0efeb;
}

.first {
    padding-right: 50px;
    padding-left: 50px;
}

footer {
    height: 30px;
}

p {
    font-weight: normal;

}

h3 {
    color: #826e5a;
}


.header {
    background-color:  #eddcd2;

}

.navbar {
   background-color:  #eddcd2;

}

.welcome {
    padding-bottom: 50px;
    justify-content: space-evenly;
    color: #826e5a;
    text-align: center;
    background-color:#eddcd2;
}

.welcome-font {

    padding: 0 400px 0 400px;
}

.name-header {

    padding: 5px 5px 5px 5px;
}

.kontakt {

    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    justify-content: space-evenly;
    padding-top: 150px;
    padding-bottom: 80px;
    display: flex;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-wrap: wrap;
}



#banner {
    margin: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #758173;
}

.bd-placeholder-img rounded-circle {
    align-items: baseline;
}


.btn-lg,
.btn-group-lg>.btn {
    font-size: 1.50rem;
}

.bg-light {
    display: flex;
    justify-content: space-around;
}


:root {
    --success-color: #3498db;
    --error-color: #e74c3c;
}

* {
    box-sizing: border-box;
}


.formular {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
}

h2 {
    color: #826e5a;
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    border: none;
}

.form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input {

    border: 2px solid #eddcd2;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background-color:#eddcd2;

}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    /* bottom: 0;*/
    left: 0;
    visibility: hidden;
    font-size: .75rem;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-image: radial-gradient(circle, #cb997e 50%, #eddcd2 100%);
    border: 0px solid #eddcd2;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;

}